main {

    margin: 0 auto;
    width: 75%;

}

#high-scores {

    float: left;

}

#time {

    float: right;

}

.clear-floats {

    clear: both;

}

.choice-btn {

    display: block;
    margin-bottom: 5px;

}

#final-score-p {

    display: block;

}



